
.appGrid
{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: pink;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.headerRow
{
  background-color: skyblue;
  height:16%;
  width:100vw;
  
  margin: 0;
  padding: 0;
  
}

.bodyRow
{
  background-color: orangered;
  height:auto;
  width:100vw;
}

.footerRow
{
  background-color: lightgreen;
  height:33%;
  width:100vw;
}



.NavBar
{
  float: left;
}

.headerButtonsColumn
{
  position: relative;
  

}

.login
{
  width: auto;
  border-radius: auto;
  float: left;
}

.register
{
  clear: both;
  float: left;
}

.cart
{
  float: left;
}



.bodyRowSidePane
{
  background-color: forestgreen;
  width:17%;
}
.bodyRowMainView
{
  background-color:rgb(172, 82, 172);
  overflow-y: scroll;
  width:83%;
  padding-left: 15px;
  overflow-x:hidden;
}
.product
{
  /* top right bottom left */
  /* padding:8px 25px 0px 25px; */
  /* margin-top:8px; */
}
.productCard
{
  width: 200px;
  height: 100px;
  margin-top: 50px;
}

